* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background: violet;
  color: #fff;
}

.left {
  width: 50%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}

.left > a{
  position: absolute;
  top: 30px;
  left: 30px;
  color: white;
}

.left p {
  text-align-last: center;
  padding-left: 50px;
}

.left h3 {
    padding-left: 30px;
}

.left h4 {
    padding-left: 50px;
    text-align-last: center;
}
.right {
  width: 50%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right img {
  width: 50%;
  min-height: 40vh;
  border-radius: 50%;
}